<div class="auth-container">
    <h2>Authentification</h2>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div>
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" ngModel required>
      </div>
      <div>
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" ngModel required>
      </div>
      <p><strong>Vous n'avez pas de compte?</strong><a href="/connexion">Inscrivez-vous</a>
      </p>
      <div class="sou">
        <button type="submit" [disabled]="!form.valid">Se Connecter</button>
      </div>
    </form>
  </div>
  
